

<form [formGroup]="pensionForm">
  
  <div class="minPensionDiv" formArrayName="PensionInformation">
      <h2>Pensions Uppgifter</h2>

    <div *ngFor="let item of pensionPoints.controls; let pointIndex=index" [formGroupName]="pointIndex">
    <label>
      <input placeholder="Ålder" formControlName="age" />
      <input placeholder="Lön" formControlName="salary" />
      <input placeholder="Sparande (kr/mån)" formControlName="deposit" />
      <input placeholder="Planderad Pension" formControlName="pensionAge" />
      <input placeholder="Kapital (kr)" formControlName="kapital" />
      <input placeholder="Trad (kr/mån)" formControlName="trad" />
      <input placeholder="Uttags Period" formControlName="duration" />
      <input placeholder="Risk (%)" formControlName="risk" />
      <input placeholder="Förväntad Avkastning (%)" formControlName="expReturn" />
    </label>
    <button class="button" type="button" (click)="deletePensionPoint(pointIndex)">Delete</button>
    </div>
    <button class="button" type="button" (click)="addPensionPoint()">Add</button>
    <label class="switch">
      <input id = "myCheckbox" type="checkbox">
      <div class="slider"></div>
    </label>
    <!--<button class="submitButton" type="button" (click)="exportData()">Kör</button>-->
    <app-compute [pensionForm]="pensionForm" (eventClicked)="testPrint($event)" (eventClicked_2)="testPrint_2($event)"  ></app-compute>
  </div>
</form>
  <!--<app-plot-pension [data]="PlotData"></app-plot-pension>-->
  <div id="plotDiv" class="minPensionDiv"> <div class="minPensionInnerDiv"   [chart]="chart"></div> </div>

  <div id="plotDiv" class="minPensionDiv"> <div class="minPensionInnerDiv"  [chart]="chart_2" ></div> </div>

  <div class="minPensionDiv">
    <h2>Infomation</h2>
    <ul>
      <li>Spridningen visar hösta  och lägsta väntade utbetalningen med 90% säkerhet.</li>
      <li>Det är 90% säkerhet att hamna inom intervallet.</li>
      <li>Lönetillväxt och inflation är ej inkluderat i beräkningarna.</li>
      <li>Ej ifylld ruta antags vara 0.</li>
    </ul>    
  </div>

<!--{{ this.pensionForm.value | json }}-->